#box {
    position: absolute;
    top: 20%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 28em;
    height: 20em;
    color: white;
    gap: 2em;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#boxTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxCity {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

#boxCity img {
    width: 2.5em;
    height: 2em;
    box-shadow: 2px 2px 2px black;
}

#boxCity h2 {
    font-size: 2.5em;
}

#tempBox, #minBox, #maxBox, #sunriseBox, #sunsetBox {
    display: flex;
    align-items: center;
}

#sunriseBox, #sunsetBox {
    gap: 0.2em;
}

#boxTemps, #boxMid {
    display: flex;
    font-size: 2em;
    gap: 1em;
}